div.logo {
    position: absolute;
    left: 0;
    top: 0px;
    margin: 0;
}


div.leftcol{
    position: relative;
    width: 100%;
    top:0px;
}

body { min-width: 750px; }


.unitbutton button {
    position: relative;
    top:0px;
    background-color: white;
    border: 1px solid darkgrey;
    color: black;
    padding: 10px 24px;
    cursor: pointer;
    display: block;
    text-align: left;
    margin-right: 100pxs;
    width:58%

}

.unitbutton button:not(:last-child) {
    border-bottom: none;
}

.unitbutton button:hover {
    background-color: whitesmoke;
}



ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.info{
    list-style-type: none;
    position: relative;
    margin: 5px;
    padding: 3px 20px;
    left: 300px;
    border: 1px solid black;
    width: 50%;
    top: 30px;
}

ul.info li {
    border-bottom: 1px solid black;
}

ul.info li:last-child {
    border-bottom: none;
}

ul.unitbutton {
    float: left;
    margin: 0;
    padding: 0;
    width:25%;
    margin-bottom: 1000PX;
}

div.clickShow {
    position:fixed;
    top:500px;
    left:500px;


}

div.leftcol{
    position:fixed;
    top:400px;
    left:10px;
}

ul.rightpanel {
    position: fixed;
    right: 0;
    top:200px;
}

button.rightbtn {
    background-color: white;
    border: white;
}




